/* Color Theme Swatches in Hex */
.yellows3-1-hex { color: #434142; }
.yellows3-2-hex { color: #FFCB05; }
.yellows3-3-hex { color: #FDD540; }
.yellows3-4-hex { color: #F2D264; }
.yellows3-5-hex { color: #C1C1C1; }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(0deg,#F2D264 0%,#FDD540 100%); 
    justify-content: center;
    min-height: 100vh;
}


#header{
    width:100%;
    height:10%;
    padding:10px;
    padding-top: 5px;
}
#header .name{
    font-family: 'Courier New', monospace;
    margin: 20px 0 0 5%;
    color: #14171b;
    font-weight: 600;
    font-size: 3rem;
    float: left;
}
#header .contact{
    font-family: 'Trebuchet MS', sans-serif;
    box-shadow: 0px 0px 20px 0px #434142;
    border: 2px solid #434142;
    padding: 5px 13px 5px 15px;
    background: #434142;
    text-decoration: none;
    border-radius: 30px;
    margin: 20px 2% 0 0;
    font-size: 2rem;
    color: white;
    float: right;
}


.content{
    width:100%;
    height:100vh;
    display: inline-block;
    scroll-snap-type: y mandatory;
}
.content .main{
    width:45%;
    float: left;
    margin-left: 5%;
    padding-top: 12.5%;
    
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 5rem;
    color:black;
}
.content .second{
    width: 45%;
    float: right;
    margin-right: 5%;
    padding-top: 10%;

    overflow: hidden;
    text-align: right;

    font-family: Tahoma, sans-serif;
    font-size: 1.5rem;
    color:#333;
}


#falecmg {
    justify-content: center;
    align-content: center;
    padding-top: 10%;
    grid-gap: 10px;
    display: inline-grid;
    width:100%;
    height:80vh;
}
#falecmg *{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    border-radius: 10px;
    font-size: 3rem;
    height: 175px;
    width: 400px;
    
}
#falecmg * h2{
    height: min-content;
    width: auto;

    padding-top:13%;
    padding-right:20%;
    color:black;
    float: right;
}
#falecmg .instagram h2{
    padding-right:30%;
}
#falecmg .email h2{
    padding-right:25%;
}
#falecmg * img{
    text-align: none;
    width: 3rem;
    height:3rem;

    margin-left: 20%;
    margin-top: 13%;
}
#falecmg a:hover {
    box-shadow: inset 0 0 2px 2px #C1C1C1;
}
#falecmg .twitter{
    grid-column-start: 1;
    grid-row-start: 1;
    
    background: rgb(21,118,179);
    background: linear-gradient(135deg, rgba(21,118,179,1) 0%, rgba(29,161,242,1) 30%, rgba(31,169,255,1) 100%);
}
#falecmg .instagram{
    grid-column-start: 2;
    grid-row-start: 1;

    background: #dc2743;
    background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%)
}
#falecmg .github{
    grid-column-start: 1;
    grid-row-start: 2;

    background: #F5F5F5;
    background: linear-gradient(60deg, rgba(29,122,51,1) 0%, rgba(45,187,79,1) 30%, rgba(48,199,83,1) 100%); 
}
#falecmg .email{
    grid-column-start: 2;
    grid-row-start: 2;

    background: rgb(212,23,17);
    background: linear-gradient(135deg, rgba(212,52,47,1) 0%, rgba(199,22,16,1) 70%, rgba(135,15,11,1) 100%); 
}

.footer {
    filter:drop-shadow(0px 0px 5px #434142);
    color: #434142;
    float:right;
    padding:0 3% 3% 0;
}

@media screen and (max-width: 1200px) {
    .content .main{
        float: none;
        width: 100%;
        font-size: 5rem;
        text-align: center;

        margin-left: 0;
        padding-top:10%;
    }
    .content .second{
        width: 100%;
        font-size: 1.5rem;
        text-align: center;

        margin-right: 0;
        padding-top:5%;
    }
}
@media screen and (max-width: 800px) {
    #header .name{
        font-size: 2rem;
        margin-left: 0;
        padding-top: 0;
    }
    #header .contact{
        font-size: 1rem;
    }

    .content .main{
        float: none;
        width: 100%;

        text-align: center;
        margin-left: 0;
        padding-top:10%;
        font-size: 3rem;
    }
    .content .second{
        width: 100%;
        font-size: 1rem;
        text-align: center;

        margin-right: 0;
        padding-top:10%;
    }

    #falecmg *{
        height: 100px;
        width: 320px;
        font-size: 2rem;
    }
    #falecmg .twitter{
        grid-row-start: 1;
        grid-column-start: 1;
    }
    #falecmg .instagram{
        grid-row-start: 2;
        grid-column-start: 1;
    }
    #falecmg .github{
        grid-row-start: 3;
        grid-column-start: 1;
    }
    #falecmg .email{
        grid-row-start: 4;
        grid-column-start: 1;
    }
    #falecmg * h2{
        padding-top:10%;
        padding-right:20%;
        color:black;
        float: right;
    }
    #falecmg .instagram h2{
        padding-right:28%;
    }
    #falecmg .email h2{
        padding-right:25%;
    }
    #falecmg * img{
        text-align: none;
        width: 2rem;
        height:2rem;
    
        margin-left: 20%;
        margin-top: 10%;
    }
}

@media screen and (max-height: 600px) {
    .content .main{
        font-size: 4rem;
        margin-left: 0;
        padding-top:0%;
    }
    .content .second{
        font-size: 1.5rem;
        padding-top:2%;
    }
    #falecmg {
        padding-top: 0;
        grid-gap: 10px;
        height: 80vh;
    }
    #falecmg *{
        height:125px;
        width: 300px;
        font-size: 2.3rem;
    }
    #falecmg * img{
        text-align: none;
        width: 2.3rem;
        height:2.3rem;
    }
}